.wrapper{
    position: relative;
    background-color: #020102;
    width: match-parent;
    height: 100%;
    scroll-snap-align: start;
    /* border: 0.3px solid grey; */
    border-radius: 5%;
  box-shadow: 5px 5px 10px 5px #6443a6bd;
    
}
.imageFrame{
    object-fit: fill;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}