.wrapper { 
    position: absolute;
    background-color: #241B35;
    left : 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    
    min-width: 20rem;
    min-height: 20rem;
    border-radius: 10px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.modalButtons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 10px;
}
.title{
    font-weight: bolder;
    font-size: 1.45rem;
    margin: 1.5rem 0 3rem 0;
    color: white;
}
.inputField{
    width: 100%;
    margin-bottom: 1rem;
}
.inputTitle{
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.inputContainer{
    display: flex;
    border: 1px #020102 solid;
    border-radius: 1rem;
    padding: 0.6rem 0.4rem;
    background-color: #241B35;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.input{
    flex: 1;
    color: #fff;
    border: none;
    outline: none;
    background: none;
}
.button{
    color: white;
    padding: 5px;
    border-radius:9px;
    color: #fff;
    cursor: pointer;
    transition: 0.2 linear;
    width: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.5rem;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.createButton{
    background-color: #8956F1;

}
.cancelButton{
    border: 2px #fe2d55 solid;
    color: #fe2d55;
}
